::ng-deep .drop-zone {
  border: #364249 dashed 1px;
  border-radius: 10px;
  padding: 50px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 48px;

  .drop-content {
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    .inner-container {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      .label {
        font-size: 35px;
      }
      mat-icon.large-icon {
        transform: scale(6);
        margin-top: 75px;
        cursor: pointer;
      }
    }
  }
}

::ng-deep .snack-bar-success {
  color: #fafafa;
  background-color: #388e3c;
  border-color: #388e3c;
}

::ng-deep .snack-bar-failure {
  color: #fafafa;
  background-color: #d32f2f;
  border-color: #d32f2f;
}
