<div style="position: relative;">
  <div>
    <div style="position: relative;">
      <img [src]="src" [style.width]="imgWidth" [style.height]="imgHeight" />
    </div>
    <div
      *ngFor="let box of newBoxes"
      [style.top]="box.top"
      [style.left]="box.left"
      style="position: absolute;"
    >
      <span
        [style.width]="box.width"
        [style.height]="box.height"
        style="border: 2px solid red;display: inline-block;"
      ></span>
      <span style="color:red;">{{ box.label }}</span>
    </div>
  </div>
</div>
